/* Login Info CSS */

.AccountNavigation
{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  background: var(--bg-secondary);
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
  z-index: 100;
}

.AccountNavigation.active
{
  width: 300px;
  height: 400px;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
}

.AccountNavigation .userBox
{
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.AccountNavigation.active .userBox
{
  width: calc(100% - 60px);
  transition-delay: 0s;
}

.AccountNavigation .userBox .AccountUsername
{
  white-space: nowrap;
  color: var(--text-primary);
  font-size: 1.1rem;
}

.AccountNavigation .userBox .imgBox
{
  box-sizing: border-box;
  position: relative;
  min-width: 60px;
  height: 60px;
  overflow: hidden;
  background: var(--bg-secondary);
  border-radius: 50%;
  border: 10px solid var(--bg-secondary);
}

.AccountNavigation .userBox .imgBox img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AccountNavigation .menuToggle
{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AccountNavigation .menuToggle::before
{
  content:'';
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--text-primary);
  transform: translateY(-10px);
  box-shadow: 0 10px var(--text-primary);
  transition: 0.5s;
}

.AccountNavigation .menuToggle::after
{
  content:'';
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--text-primary);
  transform: translateY(10px);
  transition: 0.5s;
}

.AccountNavigation.active .menuToggle::before
{
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 var(--text-primary);
}

.AccountNavigation.active .menuToggle::after
{
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 var(--text-primary);
}

.UserMenu
{
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.UserMenu li
{
  list-style: none;
}

.UserMenu li a
{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 5px;
  font-size: 1em;
  text-decoration: none;
  color: var(--text-primary);
  transition: 0.5s;
}

.UserMenu li a:nth-child(1)
{
  margin-top: 10px;
}

.UserMenu .child:last-child
{
  padding-left: 4px;
}

.UserMenu li a:hover
{
  color: var(--nav-colour);
}

.UserMenu li a ion-icon
{
  font-size: 1.5em;
}

@media only screen and (max-width: 960px) {
  .AccountNavigation
  {
    visibility: hidden;
    display: none;
  }
}